.third_section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex: 1;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 88px ;
    padding-bottom: 88px ;
    background-color: #E5E7EB;
}
.quote{  
    width: 820px;
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    font-style:italic;
    font-weight: 100;
    color: #1F2937;
}
.quote_name{
    width: 720px;
    color: #1F2937;
    font-weight: 600;
    font-size: 22px;
   text-align: right;
}
